{% if searched_part %}

<div class="result-box">

<h3>Part No : {{searched_part}}</h3>

{% if plant_name %}
<p>Plant : {{plant_name}}</p>
{% endif %}

{% if primary_locations %}

<div class="section">
<div class="section-title">Primary Location</div>

{% for p in primary_locations %}
<div class="location">{{p}}</div>
{% endfor %}

</div>

{% endif %}

{% if secondary_locations %}

<div class="section">
<div class="section-title">Secondary Location</div>

{% for s in secondary_locations %}
<div class="location">{{s}}</div>
{% endfor %}

</div>

{% endif %}

</div>

{% endif %}
